<div class="input-area">
    <span>Account Name*</span>
    <input class="input-box" type="text">
</div>


<div class="address-description-area">
    <p class="address-description-text">Address Description*
    <p>
        <input class="address-description-input" type="text">
</div>
<hr>

<div class="row">
    <div class="col-4 add-address-area">
       <button class="add-new-address-button">Add New Address</button>
    </div>
</div>
<div class="button-area">
    <button class="cancel-button" routerLink="/customeraccounts">Cancel</button>
    <button class="create-button">Create</button>
</div>