<app-single-focus-layout [headerTemplate]="headerTemplate">
    <ng-template #headerTemplate>
        <div class="container-fluid">
            <div class="etiya-header-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-side">
                            <div class="etiya-logo-area">
                                <img  src="assets/etiya.logo.png"
                                    alt="Etiya logo" class="etiya-logo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-side ">
                            c
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>


</app-single-focus-layout>