<app-single-focus-layout [headerTemplate]="headerTemplate">
    <ng-template #headerTemplate>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="left-side">
                        <div class="etiya-logo-area">
                            <img src="assets/etiya.logo.png" alt="Etiya logo" class="etiya-logo">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="right-side ">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptate et repudiandae
                            facere. Quisquam, repudiandae! Dolorum vel aspernatur cumque quidem ab tempore quod ipsum,
                            ad, vitae hic nam itaque sapiente adipisci repellat ipsa! Beatae, eaque dolore aut
                            distinctio aliquid excepturi recusandae deserunt quas odio fugit optio consequatur.
                            Voluptate qui eaque ea iusto sequi culpa natus commodi maiores dolorum nemo nostrum odit ab,
                            sunt asperiores atque facere suscipit enim error velit fugit consequatur voluptatum ipsum
                            amet doloribus. Consectetur velit quae laudantium perspiciatis quisquam necessitatibus
                            consequuntur amet nisi unde nostrum nihil fugit molestiae deleniti animi repellat, nesciunt,
                            itaque facilis odio dolorem natus?</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-single-focus-layout>