.left-side {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .etiya-logo-area {
    position: relative;
    width: 100%;
    height: 175%;
    //background-color: green;
    border-right: 2px solid #f58220;
    display: flex;

    .etiya-logo {
      display: flex;
      margin: auto;
      //background-color: yellow;
      max-width: 100%;
      height: auto;
    }
  }
}
@media only screen and (max-width: 800px) {
  .left-side .etiya-logo-area {
    border-right: none;
  }
}
.right-side {
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
}
