<p class="title">Customer Info 
    <i class="fa-solid fa-pencil" type="button" (click)="updateCustomerInfo()" ></i>
    <i class="fa-regular fa-trash-can"></i>
</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="left-side">
                    <div class="input-area">
                        <span>First Name: {{customerInfo.firstName}}</span>
                    </div>
                    <div class="input-area">
                        <span>Last Name: {{customerInfo.lastName}} </span>
                    </div>
                    <div class="input-area">
                        <span>Gender: {{gender}}</span>
                        <div></div>
                    </div>
                    <div class="input-area">
                        <span>Mother Name: {{customerInfo.motherName}} </span>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-side">
                    <div class="input-area">
                        <span>Middle Name: {{customerInfo.middleName}}</span>
                    </div>
                    <div class="input-area">
                        <span>Birth Date: {{customerInfo.birthDate}}</span>
                    </div>
                    <div class="input-area">
                        <span>Father Name: {{customerInfo.fatherName}}</span>
                    </div>
                    <div class="input-area">
                        <span>Nationality ID: {{customerInfo.nationalityIdentity}}</span>
                    </div>
            </div>
        </div>
    </div>
</div>