.title {
    position: relative;
    width: 15rem;
    top: 2%;
    left: 5%;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.7rem;
    border-bottom:3px solid #242441;
    line-height: 3rem;
    width: 90%;
    margin-bottom: 5rem;
}

.input-area{
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
text-align: left;
margin-bottom: 2rem;
margin-left: 4rem;
font-weight: bold;
}