<div class="input-area">
    <span>Account Name*</span>
    <input class="input-box" type="text">
</div>


<div class="address-description-area">
    <p class="address-description-text">Address Description*
    <p>
        <input class="address-description-input" type="text">
</div>
<hr>

<div class="row">
    <div class="col-4 address-info-area">
        <div class="menu"><i class="fas fa-ellipsis-v fa-lg"></i></div>
        <p class="address-info">City, Street Name, Hause/Flat Number, Address Description</p>
    </div>
    <div class="col-4 address-info-area">
        <div class="menu"><i class="fas fa-ellipsis-v fa-lg"></i></div>
        <p class="address-info">City, Street Name, Hause/Flat Number, Address Description</p>
    </div>
    <div class="col-4 address-info-area">
        <div class="menu"><i class="fas fa-ellipsis-v fa-lg"></i></div>
        <p class="address-info">City, Street Name, Hause/Flat Number, Address Description</p>
    </div>
</div>
<div class="button-area">
    <button class="cancel-button" routerLink="/customeraccounts">Cancel</button>
    <button class="create-button">Create</button>
</div>