form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  border: 5px solid rgba(245, 130, 32, 0.6);
  border-radius: 10px;
}
.form-group input {
  width: 400px;
  height: 60px;
}
.form-group {
  padding: 20px;
}
.form-check {
  margin: 20px !important;
}
button {
  background-color: rgba(224, 224, 224, 1);
  border-radius: 20px;
  border: none;
  width: 196px;
  height: 60px;
  border-radius: 30px;
  opacity: 0px;
  font-weight: 700;
  line-height: 38.73px;
  color: rgba(255, 255, 255, 1);
  margin: 10px;
}

.password-input {
  position: relative;
}
.form-group span {
  position: absolute;
  top: 50%;
  right: 8%;
  cursor: pointer;
  color: var(--bs-body-color);
  font-size: 1.5rem;
}

.form-control:focus, .form-check-input:focus{
  border: 5px solid rgba(245, 130, 32, 0.6);
  box-shadow: none;
}

.form-check-input:checked{
background-color: rgba(245, 130, 32, 0.6);
border-color: rgba(245, 130, 32, 0.6);
}