<h2>Sign in with your organizational account</h2>
<form>
    <div class="form-group">
        <label for="username">Username*</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"
            [(ngModel)]="username" (ngModelChange)="checkInputs()" (keydown)="checkCapsLock($event)"
            #usernameInput="ngModel" minlength="5" maxlength="20" required>
    </div>
    <div class="form-group password-input">
        <label for="password">Password*</label>
        <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" id="password" name="password"
            placeholder="Enter Password" [(ngModel)]="password" (ngModelChange)="checkInputs()"
            (keydown)="checkCapsLock($event)" #passwordInput="ngModel" minlength="8" maxlength="20" required>
        <span (click)="togglePasswordVisibility()"><i class="far"
                [ngClass]="{'fa-eye-slash': !showPassword, 'fa-eye': showPassword}"></i></span>
    </div>
    <div *ngIf="capsLockWarning" class="caps-lock-warning" role="alert">
        Capslock is on.
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox">
        <label class="form-check-label" for="password">Remember Me</label>
    </div>
    <button type="submit" class="{{submitButtonClass}}" [disabled]="!enableSubmit">LOGIN</button>
</form>