<div class="frame">
    <div class="container-fluid pl-2">
        <div class="row">
            <div class="form-title">
                <p class="prod-offer">Prod Offer ID</p>
                <p class="offer-name">Prod Offer Name</p>
            </div>
            <div class="left-side col-md-6">
                <form>
                    <div class="form-group row">
                        <label for="modemBrand" class="col-sm-4 col-form-label">Modem Brand</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="modemBrand">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="modemSn" class="col-sm-4 col-form-label">Modem SN</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="modemSn">
                        </div>
                    </div>
                </form>
            </div>
            <div class="right-side col-md-6">
                <div class="form-group row">
                    <label for="modemModel" class="col-sm-4 col-form-label">Modem Model</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="modemModel">
                    </div>
                </div>
            </div>
    </div>
</div>
