.title {
    position: relative;
    width: 20rem;
    left: 5%;
    top:2%;
    margin-top: 5rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.51rem ;
    text-decoration: underline;
    font-family: sans-serif;
  }

  .subtitle {
    position: relative;
    width: 15rem;
    top: 2%;
    left: 5%;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.51rem ;
    border-bottom:3px solid #242441;
    line-height: 3rem;
    width: 80%;
    margin-bottom: 5rem;
  }