    <form>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-side">
                        <div class="input-area">
                            <span>First Name*</span>
                            <input type="text">
                        </div>
                        <div class="input-area">
                            <span>Last Name*</span>
                            <input type="text">
                        </div>
                        
                        <div class="input-area">
                            <span>Gender*</span>
                            <select class="form-select" aria-label="Default select example">
                            <option hidden> </option>
                            <option value="1">Female</option>
                            <option value="2">Male</option>
                        </select>
                        </div>
                        

                        <div class="input-area">
                            <span>Mother Name*</span>
                            <input type="text">
                        </div>
                        <button class="cancel-button" type="submit">Cancel</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-side">
                        <div class="input-area">
                            <span>Middle Name</span>
                        <input type="text">
                        </div>
                        <div class="input-area">
                            <span>Birth Date</span>
                            <input type="date">
                        </div>
                        <div class="input-area">
                            <span>Father Name</span>
                        <input type="text">
                        </div>
                        <div class="input-area">
                            <span>Nationality ID</span>
                        <input type="text">
                        </div>
                        <button class="next-button" type="submit">Next</button>
                </div>
            </div>
        </div>
    </div>
</form>