<p class="title">Contact Medium 
    <i class="fa-solid fa-pencil" type="button" routerLink="/customercontact-update"></i>
</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="left-side">
                    <div class="input-area">
                        <span>E-mail: </span>
                    </div>
                    <div class="input-area">
                        <span>Mobile Phone: </span>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-side">
                    <div class="input-area">
                        <span>Home Phone: </span>
                    </div>
                    <div class="input-area">
                        <span>Fax: </span>
                    </div>
            </div>
        </div>
    </div>
</div>
