    <form [formGroup]="form" (submit)="onSubmitForm()">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-side">
                        <div class="input-area">
                            <span>First Name*</span>
                            <input appOnlyLetterDirective type="text" formControlName="firstName">
                        </div>
                        <div class="input-area" >
                            <span>Last Name*</span>
                            <input appOnlyLetterDirective type="text" formControlName="lastName">
                        </div>
                        <div class="input-area">
                            <span>Gender*</span>
                            <select class="form-select" aria-label="Default select example" formControlName="gender">
                            <option hidden> </option>
                            <option value="true">Female</option>
                            <option value="false">Male</option>
                        </select>
                        </div>
                        <div class="input-area">
                            <span>Mother Name*</span>
                            <input appOnlyLetterDirective type="text" formControlName="motherName">
                        </div>
                        <button class="cancel-button" routerLink="/searchcustomer" type="submit">Cancel</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-side">
                        <div class="input-area">
                            <span>Middle Name</span>
                        <input appOnlyLetterDirective type="text" formControlName="middleName">
                        </div>
                        <div class="input-area">
                            <span>Birth Date</span>
                            <input type="date" formControlName="birthDate" min="1920-01-01" [max]="formattedDate">
                        </div>
                        <div class="input-area">
                            <span>Father Name</span>
                        <input appOnlyLetterDirective type="text" formControlName="fatherName">
                        </div>
                        <div class="input-area">
                            <span>Nationality ID</span>
                        <input name="" appOnlyNumberInput maxlength="11" type="text" formControlName="nationalityId">
                        </div>
                        <div *ngIf="showNationalityIdWarning">
                            You have entered an invalid Nationality ID. Please check.
                          </div>
                          <div *ngIf="showInvalidFormWarning">
                            You have entered an invalid form of data. Please check.
                          </div>
                        <button class="next-button" type="submit"  [disabled]="!form.valid"  [ngStyle]="{'background-color': !form.valid ? '#E0E0E0' : '#F5822099'}">Next</button>
                    </div>
            </div>
        </div>
    </div>
</form>
<!--routerLink="/createcustomer/addressinfo"  formu cancel ediyor. --> 