.title {
  position: relative;
  left: 2%;
  top:2%;
  margin-top: 1rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.51rem ;
}
.search-customer-content {
  position: relative;
  min-width: 100%;
  min-height:33rem;
  // background-color: red;
  border: 2px solid black;
  border-radius: 1.625rem;
}