.title {
  position: relative;
  left: 2%;
  top:2%;
  margin-top: 1rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.51rem ;
}
.search-customer-content {
  position: relative;
  min-width: 110%;
  left: -3%;
  min-height:95%;
  // background-color: red;
  border: 2px solid #242441;
  border-radius: 1.625rem;
  margin: 0;
  padding: 0;
}