
<div class="container-fluid pl-2">
    <p class="address-info-title">Address Info</p>
    <p class="select-address-text">Select a Service Address from Existing Address</p>
    <div class="row address-section">
        <div class="col-info col-md-6">
            <p class="left-section-title">City, Street Name, House/Flat Number, Address Description</p>
        </div>
        <div class="col-add-address col-md-6">
            <button class="add-address-btn">Add New Address</button>
        </div>
    </div>
    <div class="row button-section">
        <div class="col-md-6">
            <button class="previous-btn">Previous</button>
        </div>
        <div class="col-md-6">
            <button class="next-btn">Next</button>
        </div>
    </div>
</div>
