<div class="form-area">
    <form>
        <p>ID Number</p>
        <input type="text">
        <p>Customer ID</p>
        <input type="text">
        <p>Account Number</p>
        <input type="text">
        <p>GSM Number</p>
        <input type="text">
        <p>First Name</p>
        <input type="text">
        <p>Last Name</p>
        <input type="text">
        <p>Order Number</p>
        <input type="text">
        <button>CLEAR</button>
        <button>SEARCH</button>
    </form>
</div>

