<p class="title">Customer Info </p>
<form [formGroup]="form" (submit)="onSubmitForm()">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-side">
                        <div class="input-area">
                            <span>First Name</span>
                            <input type="text" formControlName="firstName" maxlength="20">
                        </div>
                        <div class="input-area">
                            <span>Last Name</span>
                            <input type="text" formControlName="lastName" maxlength="20">
                        </div>
                        <div class="input-area">
                            <span>Gender</span>
                            <select class="form-select" aria-label="Default select example" formControlName="gender">
                            <option hidden> </option>
                            <option value="true">Female</option>
                            <option value="false">Male</option>
                        </select>
                        </div>
                        <div class="input-area">
                            <span>Mother Name</span>
                            <input type="text" formControlName="motherName" maxlength="20">
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-side">
                        <div class="input-area">
                            <span>Middle Name</span>
                        <input type="text" formControlName="middleName" maxlength="20">
                        </div>
                        <div class="input-area">
                            <span>Birth Date</span>
                            <input type="date" formControlName="birthDate">
                        </div>
                        <div class="input-area">
                            <span>Father Name</span>
                        <input type="text" formControlName="fatherName" maxlength="20">
                        </div>
                        <div class="input-area">
                        <span>Nationality ID</span>
                        <input type="text" formControlName="nationalityIdentity" maxlength="11">
                        </div>
                        <div class="buttons">
                        <button class="cancel-button" (click)="goPrevious()">Cancel</button>
                        <button  class="save-button" type="submit" [disabled]="!form.valid"  [ngStyle]="{'background-color': !form.valid ? '#E0E0E0' : '#F5822099'}">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



