.address-info-title {
  margin-top: 0;
  margin-left: 0.7rem;
  margin-bottom: 0;
}

.content {
  position: relative;
  border: 1px solid;
  border-radius: 16px;
  min-width: 100%;
  height: 100%;
}

.primary-address-area{
margin-top: 3%;
margin-left: 30%;
max-width: 20rem;
max-height: 30rem;;
}
.add-new-address-button {
  display: block;
  width: 8.125rem;
  height: 3.125rem;
  background-color: #F5822099;
  color: white;
  border-radius: 0.7rem;
  border:none;
  margin-bottom: 1rem;
}

.primary-address-text{
font-size: 20px;
font-weight: 500;
line-height: 1.51rem;
color:#242441;
}

.address-block{
  visibility: hidden;
}
.address-box-update-menu{
  width: 16.62rem;
  height: 16.62rem;
  border: 3px solid #F5822099;
  border-radius: 0.6rem;
  // background-color: green;
  padding-right: 1rem;
  padding-top: 0.5rem ;
  i{
    position: relative;
    width: 100%;
    // background-color: purple;
    padding-left: 95%;
    float: right;
    font-size: 2rem;
  }
  p{
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.1rem;
    display: block;
    padding-left: 15%;
    max-width: 100%;
    max-height: 100%;
    white-space: pre-wrap; /* İçeriği alt satıra geçirmek için */
  }
}

.menu-content {
  width: 6.5rem;
  height: 5.43rem;
  border: 1px solid #F5822099;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    position: absolute; /* Menünün mutlak konumda olmasını sağlar */
    top: 34%; /* Menünün içeriğin altında olmasını sağlar */
    left: 25.7%; /* Menünün içeriğin solunda olmasını sağlar */
    background-color: white; /* Menünün arka plan rengi */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge efekti ekler */
    z-index: 1; /* Diğer içeriklerin üzerinde görünmesini sağlar */

}

.menu-content button {
  display: block;
  width: 4rem;
  height: 1.56rem;
  font-size: 1rem;
  border:none;  
  border-radius: 16px;
}
.edit-button {
  background-color: #F5822099;
  margin-bottom:10px;
}

.previous-button {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  float: left;
  width: 6.25rem;
  height: 1.8rem;
  background-color: #F5822099;
  color: white;
  border-radius: 0.7rem;
  border:none;
}
.next-button {
  position: relative;
  float: right;
  margin-right: 3rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  background-color: #F5822099;
  color: white;
  border-radius: 0.7rem;
  border:none;
  width: 6.25rem;
  height: 1.8rem;
}

.visible {
  display: block;
}
