<p class="address-info-title">Address Info</p>
<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="primary-address-area">
                <button class="add-new-address-button" routerLink="/createcustomer/address">Add New Address</button>
                <p class="primary-address-text">Primary Address</p>
                <div class="address-block" *ngIf="cityId">
                    <div class="address-box-update-menu">
                        <i class="fa-solid fa-ellipsis-vertical" (click)="toggleMenu()"></i>
                        <div class="menu-content" *ngIf="menuVisible">
                            <button class="edit-button">Edit</button>
                            <button id="deleteButton">Delete</button>
                        </div>
                        <p>{{cityId}}</p>
                        <p>{{street}}</p>
                        <p>{{houseFlatNumber}}</p>
                        <p>{{addressDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="previous-button"  routerLink="/createcustomer">Previous</button>
            <button  class="next-button" routerLink="/contactcustomer">Next</button>
            <div>
            </div>
        </div>