<nav>
        <div class="test">
                <img id="b2c-icon" src="../../../../assets/b2c-icon.png" alt="b2c-icon" routerLink="/searchcustomer">
                <p>B2C</p>
                <img id="b2b-icon" src="../../../../assets/b2b-icon.png" alt="b2b-icon">
                <p>B2B</p>
                <img id="menu-icon" src="../../../../assets/menu-icon.png" alt="menu-icon">
                <img id="right-hand-icon" src="../../../../assets/right-hand-icon.png" alt="right-hand-icon">
                <img id="log-out-icon" src="../../../../assets/log-out-icon.png" alt="log-out-icon">
        </div>
        
</nav>
