<div class="campaign-area">
    <div class="container">
        <div class="row form-area">
            <form action="">
                <div class="select-area">
                    <label for="campaignSelection">Campaign Selection</label>
                    <select name="campaignSelection" id="campaignSelectionId"></select>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-area">
                            <label for="prodOffer">Campaign ID</label>
                            <input type="text" name="prodOffer" id="prodOfferId">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-area">
                            <label for="prodOfferName">Campaign Name</label>
                            <input type="prodOfferName" name="prodOfferName" id="prodOfferNameId">
                        </div>
                    </div>
                    <div class="col">
                        <div class="button-area">
                            <button>SEARCH</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="table-responsive table-area">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Campaign ID</th>
                            <th scope="col">Prod Offer ID</th>
                            <th scope="col">Prod Offer Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">202610</td>
                            <td scope="col">202610</td>
                            <td scope="col">Müşteri Modemi <input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td scope="col">202610</td>
                            <td scope="col">202610</td>
                            <td scope="col">Müşteri Modemi <input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td scope="col">202610</td>
                            <td scope="col">202610</td>
                            <td scope="col">Müşteri Modemi <input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td scope="col">202610</td>
                            <td scope="col">202610</td>
                            <td scope="col">Müşteri Modemi <input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td scope="col">202610</td>
                            <td scope="col">202610</td>
                            <td scope="col">Müşteri Modemi <input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td scope="col">202610</td>
                            <td scope="col">202610</td>
                            <td scope="col">Müşteri Modemi <input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td scope="col">202610</td>
                            <td scope="col">202610</td>
                            <td scope="col">Müşteri Modemi <input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>