<div class="container-fluid pl-2">
    <div class="row">
        <div class="form-title">
            <p>Prod Offer ID</p>
            <p>Prod Offer Name</p>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group row">
                    <label for="pstnNo" class="col-sm-4 col-form-label">PSTN No</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="pstnNo">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="xdslUsername" class="col-sm-4 col-form-label">XDSL Username</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="xdslUsername">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="bandwidth" class="col-sm-4 col-form-label">Bandwidth</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="bandwidth">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="xdslNo" class="col-sm-4 col-form-label">XDSL No</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="xdslNo">
                </div>
            </div>
            <div class="form-group row">
                <label for="xdslPassword" class="col-sm-4 col-form-label">XDSL Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control form-control-sm" id="xdslPassword">
                </div>
            </div>
        </div>
    </div>
</div>