.title {
  position: relative;
  width: 18rem;
  left: 8%;
  margin-top: 3rem;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.51rem ;
  // background-color: red;
}

.create-customer-content {
  position: relative;
  padding-top:1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 98%;
  height: 65%;
  margin-left: 1rem;
  margin-right: 0;
  justify-content: center;
  align-items: center;
}