button {
    color: #FFFFFF;
    width: 250px;
    height: 60px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background: rgba(245, 130, 32, 0.6);
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7rem;
    text-align: center;
    margin-right: 1rem;
}

.active {
    background: rgba(245, 130, 32, 0.8);
    border: 2px solid rgba(36, 36, 65, 0.8)
}

.menu-bar{
    padding: 62px 10px 0 10px;
}