.etiya-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; // flex doğrultusunda ortala
  align-items: center; // flex dik doğrultusunda ortala
  background: radial-gradient(
    203.91% 203.91% at -59.51% 154.69%,
    #242440 35.17%,
    #3f3f77 100%,
    #39396b 100%
  );
}
