<form [formGroup]="formContactMedium" (submit)="onSubmitForm()">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-side">
                        <div class="input-area">
                            <span>Email*</span>
                            <input class="input-email" appEmailFormat type="email" formControlName="email" maxlength="250">
                        </div>
                        <div class="input-area">
                            <span>Mobile Phone*</span>
                            <span class="country-code">+90</span>
                            <input class="input-mobile-phone"  [ngClass]="{ 'red-border': showMobilePhoneWarning }" type="text" appOnlyNumberInput formControlName="mobilePhone" maxlength="10">
                            <p class="warning-message"*ngIf="showMobilePhoneWarning">Please enter valid phone number.</p>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-side">
                        <div class="input-area">
                        <span>Home Phone</span>
                        <span class="country-code">+90</span>
                        <input [ngClass]="{ 'red-border': showHomePhoneWarning }" type="text" appOnlyNumberInput formControlName="homePhone" maxlength="10">
                        <p class="warning-message"*ngIf="showHomePhoneWarning">Please enter valid phone number.</p>
                        </div>
                        <div class="input-area">
                            <span>Fax</span>
                            <span class="fax-country-code">+90</span>
                            <input [ngClass]="{ 'red-border': showFaxWarning }" type="text" appOnlyNumberInput formControlName="fax" maxlength="10">
                            <p class="warning-message"*ngIf="showFaxWarning">Please enter valid phone number.</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="cancel-button" (click)="goPrevious()">Previous</button>
                <button class="next-button"  type="submit"  [disabled]="!formContactMedium.valid"  [ngStyle]="{'background-color': !formContactMedium.valid ? '#E0E0E0' : '#F5822099'}">Create</button>
            </div>
        </div>
    </div>
</form>
