<header>
  <div class="left-side">
    <div class="etiya-logo-area">
      <img src="../../../../../assets/etiya-header-logo.png" alt="etiya logo" />
    </div>
  </div>
  <div class="col-md-1">
    <div class="language-information-side">
        <p>EN</p>
    </div>
  </div>
  <div class="col-md-1">
    <div class="information-side">
      <p>
        Mobility- <br>
        Resp. Sales <br>
        Repr.
      </p>
    </div>
  </div>
  <div class="col-md-1">
    <div class="user-information-side">
      <img src="../../../../../assets/user-icon.png" alt="etiya user icon" />
      <div class="user-name">
        <p>
          Username
          <!-- {{Username}}  -->
        </p>
      </div>
    </div>
  </div>
</header>
