<form [formGroup]="form">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-side">
                        <div class="input-area">
                            <span>Email*</span>
                            <input type="email" formControlName="email">
                        </div>
                        <div class="input-area">
                            <span>Mobile Phone*</span>
                            <input type="text" appOnlyNumberInput formControlName="mobilePhone">
                        </div>
                        <button class="cancel-button" type="submit">Previous</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-side">
                        <div class="input-area">
                            <span>Home Phone</span>
                        <input type="text" appOnlyNumberInput formControlName="homePhone">
                        </div>
                        <div class="input-area">
                            <span>Fax</span>
                            <input type="text" appOnlyNumberInput formControlName="fax">
                        </div>
                        <button class="next-button" type="submit">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>
