<app-header></app-header>

<div class="container-fluid">
  <p class="submit-order-title">Submit Order</p>
  <div class="row order-info">
    <div class="col-md-4">
      <p>Order ID</p>
    </div>
    <div class="col-md-8">
      <p>0359434</p>
    </div>
  </div>
  <div class="row order-items">
    <div class="col-md-4">
      <p>Order Items:</p>
    </div>
    <div class="col-md-8">
      <div class="item-frame">
        <p>71233 - 8 Mbps’ye kadar / 4 GB kotalı ADSL Internet</p>
        <p>938439 - Müşteri Modemi PR</p>
        <p>958340 - Aktivasyon Peşin</p>
      </div>
    </div>
  </div>
  <div class="row service-address">
    <div class="col-md-4">
      <p>Service Address:</p>
    </div>
    <div class="col-md-8">
      <p>City, Street Number, House/Flat Number, <br />Address Description</p>
    </div>
  </div>
  <div class="row total-amount">
    <div class="col-md-4">
      <p>Total Amount:</p>
    </div>
    <div class="col-md-8">
      <p>590 TL</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="previous-btn-area">
        <button>Previous</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="submit-btn-area">
        <button class="submit-btn">Submit</button>
      </div>
    </div>
  </div>
</div>
