<app-header></app-header>
<div class="container">
    <p class="submit-order-title">Submit Order</p>
    <div class="order-info">
        <div class="info-label">Order ID</div>
        <div class="info-value">0359434</div>
    </div>
    <div class="order-items">
        <div class="items-label">Order Items:</div>
        <div class="item-frame">
            <p>938439 - Müşteri Modemi PR</p>
            <p>958340 - Aktivasyon Peşin</p>
        </div>
    </div>
    <div class="service-address">
        <div class="address-left">
            <div>Service Address:</div>
        </div>
        <div class="address-right">
            <div>City, Street Number, House/Flat Number, Address Description</div>
        </div>
    </div>
    <div class="total-amount">
        <div class="amount-left">
            <div>Total Amount:</div>
        </div>
        <div class="amount-right">
            <div>590 TL</div>
        </div>
    </div>
    <div class="row button-section">
        <div class="col-md-6">
            <button class="previous-btn">Previous</button>
        </div>
        <div class="col-md-6">
            <button class="submit-btn">Submit</button>
        </div>
    </div>
</div>

