<p class="title">Address</p>
 <span style="display: none;">{{addressListByCustomerId[0].customerId}}</span> <!--Bu kod olmadan ngforu çalıştırmıyor-->
<button class="add-address" routerLink="/customeraddress-add">Add New Address</button>
<p class="subtitle">Primary Address</p>
<div class="container text-center">
  <div class="row">
    <div class="col" *ngFor="let address of addressListByCustomerId">
      <div class="menu"><i class="fas fa-ellipsis-v fa-lg"></i></div>
      <p class="address-info">
        {{ address.id }}, {{ address.street }}, {{ address.houseFlatNumber }}, {{ address.addressDescription }}
      </p>
    </div>
  </div>
</div>