.catalog-button {
  border-width: 1px, 1px, 0px, 1px;
  border-style: solid;
  border-color: rgba(245, 130, 32, 0.6);
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: rgba(36, 36, 65, 1);
  width: 150px;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  border: 1px 1px 0px 1px;
}

.campaign-button {
    border-width: 1px, 1px, 0px, 1px;
    border-style: solid;
    border-color: rgba(245, 130, 32, 0.6);
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    color: rgba(36, 36, 65, 1);
    width: 150px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    border: 1px 1px 0px 1px;
  }