<div class="basket-area">
  <div class="container">
    <div class="item-area">
      <div class="item">
        <div>
          <div class="item-code">202610</div>
          <div class="item-description">Müşteri Modemi PR</div>
        </div>
        <div class="amount">79.90 TL</div>
      </div>
      <div class="item">
        <div>
          <div class="item-code">126030</div>
          <div class="item-description">Aktivasyon / Peşin</div>
        </div>
        <div class="amount">79.90 TL</div>
      </div>
    </div>
    <div class="total">
      <div>Total Amount</div>
      <div>159.80 TL</div>
    </div>
    <button class="clear-btn">CLEAR</button>
  </div>
</div>
