.container {
  padding-left: 0.8rem;
}

.create-new-button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: rgba(245, 130, 32, 0.6);
  border: none;
  font-size: 15px;
  font-weight: 800;
  line-height: 18.15px;
  color: rgba(255, 255, 255, 1);
  margin: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  border-bottom: 3px solid rgba(36, 36, 65, 0.8);
  margin-top: 1.8rem;
}
//Customer Table
.customer-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu {
  border: 1px solid rgba(0, 0, 0, 1);
  height: 60px;
  width: 100%;
  background-color: rgba(36, 36, 65, 0.5);
  display: flex;
  align-items: center;
}
.customer-table {
  text-align: center;
  border: 1px solid;
}
.customer-table .customer-table-head .row {
  display: flex;
  align-items: center;
}

.customer-table-data {
  display: flex;
  justify-content: center;
}

.customer-table-data table,
tr,
th,
td {
  width: 713px;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
  border: 1px solid;
}

.button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  //
  text-align: center;
}
.button-area button {
  max-width: 183px;
  height: 35px;
  border-radius: 10px;
  background-color: rgba(245, 130, 32, 0.6);
  border: none;
  margin-right: 1rem;;
  //
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

//icon
i {
  color: rgba(245, 130, 32, 1);
  font-size: 1.4rem;
  padding: 1rem;
}
